<!-- webapp/WEB-INF/web.xml -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>To do List</display-name>
<servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.javacodegeeks.example.messenger.service.LoginServlet</servlet-class>
</servlet>
	<welcome-file-list>
		<welcome-file>email.do</welcome-file>
	</welcome-file-list>

</web-app>